@charset "UTF-8";
/* -------------------- VARIABLES -------------------- */
/* COLORES */
/* TAMAÑO LETRAS */
/* FONTS */
/* BORDES */
/* HEIGHT */
/* -------------------- MIXIN -------------------- */
/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------- GLOBALES -------------------- */
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background-color: #FFF8D9;
  color: #bb371a;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #FFF8D9;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.2rem;
  margin: 2rem 0;
}

/* -------------------- UTILIDADES -------------------- */
.container {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
}

.actived {
  background-color: #51050F;
}

.actived:hover {
  background-color: #330000;
}

.btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.btn-primary {
  color: #FFF8D9;
  background-color: #51050F;
}

.input {
  border: 1px solid #51050F;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 2rem;
}

.success {
  font-size: 2rem;
  color: #94b494;
  background-color: green;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 0;
  position: absolute;
  padding: 1rem;
  bottom: 30px;
  right: 0;
  margin: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

/* -------------------- HEADER -------------------- */
body.body-fijo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body.body-fijo main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background-color: #bb371a;
  padding: 3rem 0;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav .shop {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 2.2rem;
  list-style: none;
  text-align: center;
}

nav .shop li a {
  padding: 1.5rem;
  border-radius: 2rem;
}

nav ul.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translate(0px, -150%);
          transform: translate(0px, -150%);
}

nav ul.navegacion.is_active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 1;
}

nav ul.navegacion li {
  list-style: none;
}

nav ul.navegacion li a {
  font-size: 2rem;
  color: #FFF8D9;
  padding: 1.2rem;
  border-radius: 1.5rem;
  -webkit-transition: .3s all;
  transition: .3s all;
}

nav ul.navegacion li a:hover {
  color: #b9b293;
}

/* ÍCONO DE MENÚ */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #51050F;
  margin: 6px 0;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.bar2 {
  width: 30px;
}

.menuHamburguesa {
  padding: 1rem;
  z-index: 2;
}

.menuHamburguesa.is-active .bar1 {
  -webkit-transform: translateY(150%) rotate(45deg);
          transform: translateY(150%) rotate(45deg);
}

.menuHamburguesa.is-active .bar2 {
  opacity: 0;
}

.menuHamburguesa.is-active .bar3 {
  -webkit-transform: translateY(-350%) rotate(135deg);
          transform: translateY(-350%) rotate(135deg);
}

@media (max-width: 768px) {
  /* Creamos un mq únicamente para la navegacion */
  nav ul.navegacion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 5rem;
    background-color: rgba(27, 23, 23, 0.9);
  }
}

@media (min-width: 768px) {
  .menuHamburguesa {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav ul.navegacion {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* -------------------- FOOTER -------------------- */
footer {
  background-color: #bb371a;
  padding: 3rem 0;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
}

footer > div p {
  font-size: 1.5rem;
  color: #FFF8D9;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer > div p {
    font-size: 2rem;
  }
}

/* -------------------- PÁGINA INICIO -------------------- */
.categorias-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 55vh;
  overflow-y: scroll;
  row-gap: 2rem;
}

.categorias-detalle article {
  margin: 1rem auto;
  z-index: 0;
  width: 90%;
  position: relative;
}

.categorias-detalle article > a h2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFF8D9;
  font-size: 2.5rem;
  text-shadow: 0px 0px 20px #000000;
  font-family: "Permanent Marker", cursive;
}

.categorias-detalle article > a img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
@media (min-width: 468px) {
  .categorias-detalle article > a h2 {
    font-size: 3rem;
    letter-spacing: .5rem;
  }
}

@media (min-width: 768px) {
  .categorias {
    margin: 1rem auto;
  }
  .categorias-detalle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .categorias-detalle article {
    width: 40%;
    -webkit-transition: .5s all;
    transition: .5s all;
  }
}

/* -------------------- PÁGINAS SECUNDARIAS -------------------- */
.productos .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.productos .back a i {
  font-size: 2rem;
  color: #bb371a;
  padding: 2rem;
}

.productos-detalle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
  overflow-y: scroll;
}

.productos-detalle article {
  margin: 1rem auto;
  width: 80%;
}

.productos-detalle > div#carrito > h2 {
  text-align: center;
  font-size: 2.2rem;
}

.productos-detalle > div#total p {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.food img {
  border-radius: 2rem;
  width: 40%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.food i {
  color: #bb371a;
  padding: 1rem;
  font-size: 1.5rem;
}

.food > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: .5rem;
}

.food > div h2 {
  color: #bb371a;
  width: 90%;
  text-align: center;
}

.food > div p {
  color: #51050F;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Media Querie */
@media (min-width: 768px) {
  .productos-detalle {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .food {
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  .food img {
    border-radius: 2rem;
    width: 50%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .food > div h2 {
    width: 100%;
  }
}

/* -------------------- MODALES -------------------- */
.modal {
  position: relative;
}

.modal-detalle {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 95vw;
  height: 65vh;
  background-color: #FFF8D9;
  -webkit-transition: .5s all;
  transition: .5s all;
  display: none;
}

.modal-detalle > div.add-product {
  text-align: center;
  margin-top: 5rem;
}

.modal-detalle > div.add-product a {
  padding: 1.5rem;
}

.modal-detalle > div.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-detalle > div.amount input {
  width: 20%;
  height: 4rem;
}

.modal-detalle .close {
  color: #51050F;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 2.2rem;
}

#modal-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

#modal-js img {
  border-radius: 2rem;
  width: 60%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#modal-js > p {
  color: #51050F;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  width: 90%;
  margin: 0 auto;
}

#modal-js > div.description-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

#modal-js > div.description-product h2 {
  color: #bb371a;
  font-size: 2rem;
  text-align: center;
}

#modal-js > div.description-product p {
  color: #51050F;
  font-size: 2.2rem;
  font-weight: bold;
}

/* Media Queries */
@media (min-width: 468px) {
  .modal-detalle {
    height: 65vh;
    width: 70vw;
  }
}

@media (min-width: 768px) {
  .modal-detalle {
    height: 68vh;
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  .modal-detalle {
    height: 68vh;
    width: 30vw;
  }
}
/*# sourceMappingURL=styles.css.map */